<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd "
	version="2.4">
    <servlet>
        <description></description>
        <display-name>StoreIncServlet</display-name>
        <servlet-name>StoreIncServlet</servlet-name>
        <servlet-class>com.storeinc.StoreIncServlet</servlet-class>
        <init-param>
            <param-name>jsPath</param-name>
            <param-value>/Users/waynelu/nginxhtmls/mt2/demo/</param-value>
        </init-param>
        <init-param>
            <param-name>chunkSize</param-name>
            <param-value>12</param-value>
        </init-param>
        <init-param>
            <param-name>diffAlg</param-name>
            <param-value>lcs</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreIncServlet</servlet-name>
        <url-pattern>/storeinc/*</url-pattern>
    </servlet-mapping>
</web-app>
